.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
target/
dependency-reduced-pom.xml

.vscode/

.DS_Store

config.txt
save.dat
save_slot_*.dat
Reflection_Result_*.pdf
results/
